{% block fos_user_content %}

<section class="section">
    <div class="columns is-mobile">
        <div class="column is-one-third is-offset-one-third">
            <h1 class="title">Register</h1>
            {{ form_start(form, {'action': path('fos_user_registration_register')}) }}
            <div class="field">
                <div class="control">
                    {{ form_row(form.username, {'attr': {'class': 'input'}}) }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form_row(form.email, {'attr': {'class': 'input'}}) }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input'}}) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input'}}) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link">Register</button>
                </div>
            </div>
            {{ form_end(form) }}
            <br>
            <div class="columns is-centered">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                {% else %}
                <p>
                    Already have an account ?
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock fos_user_content %}
