{# templates/header.html.twig #}

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item"  width="112" height="28" href="
          {% if app.user %}
            {{ path('index', {'username': app.user.username}) }}
          {% else %}
            {{ path('default') }}
          {% endif %}">
            Blog
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBlog">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBlog" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                {{ render(controller('App\\Controller\\PostController::searchAction')) }}
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if app.user %}
                    <p>Logged in as <b>{{app.user.username}}</b> &nbsp;&nbsp;</p>

                    <a class="grey-hover button is-primary" href="{{ path('logout') }}">
                        Log out
                    </a>
                    {% elseif not app.user %}
                    <a class="button grey-hover is-primary" href="{{ path('register') }}">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button grey-hover" href="{{ path('login') }}">
                        Log in
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
