{# templates/blog/postDetail.html.twig #}

{% extends 'base.html.twig' %}


{% block title %} Update post {% endblock %}

{% block body %}

<div class="content">
    <h1 class="title">Update post</h1>

    <section class="form">
        {{ form_start(form) }}
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control ">
                {{ form_widget(form.content, { 'attr': {'class': 'textarea ckeditor'}}) }}
            </div>
        </div>

        {% if post_image %}
        <div class="field">
            <label class="label">Current image : </label>

            <figure class="image" style="margin-left: auto;margin-right: auto;">
                <img src="{{ post_image }}"><br>
            </figure>

        </div>
        {% endif %}
        <br>

        <div class="field">
            <div id="post-image" class="file has-name is-fullwidth">
                <label class="file-label">
                    {{ form_widget(form.image, { 'attr': {'class': 'file-input'} }) }}
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        {{ form_label(form.image,form.image ,{ 'label_attr': {'class': 'file-label'} }) }}
                    </span>
                    <span class="file-name">
                        No file uploaded
                    </span>
                </label>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                {{ form_row(form.submit, { 'label': 'Update', 'attr': {'class': 'button is-link'}}) }}
            </div>
            <div class="control">
                <a class="button is-link is-light" href="{{ path('index', {'username': username}) }}">
                    Cancel
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
</div>

<script>
    const fileInput = document.querySelector('#post-image input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#post-image .file-name');
            fileName.textContent = fileInput.files[0].name;
        }
    }
</script>
<script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
{% endblock %}
