{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
  <section class="section content">
    <div class="container">
        {% if app.user and app.user.username == blogname %}
            <h2 class="title">Welcome home {{ app.user.username }}</h1>
        {% else %}
            <h2 class="title">Welcome on {{ blogname }} blog !</h1>
        {% endif %}
    </div>
    <div class="columns is-mobile">
      <div class="column is-three-fifths is-offset-one-fifth">
        {% if app.user and app.user.username == blogname %}
            {% if posts is empty %}
                <p class="subtitle">
                    You haven't any published post. Go ahead, express what's on your
                    mind !
                </p>
                <br><br>
            {% endif %}
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <a class="button is-medium grey-hover"
                    href="{{ path('post_create') }}">
                    Write a post
                </a>
              </p>
            </div>
        {% else %}
            {% if posts is empty %}
                <p class="subtitle">
                    {{ blogname }} hasn't published any post yet. Come back
                    later to check if there is something new.
                </p>
            {% endif %}
        {% endif %}

        <br>
        {% for post in posts %}
          <article
            class="message
              {% if (loop.length == 1)
              or (loop.length > 1 and post.isPinned() and posts[0].getPublicationDate() > posts[1].getPublicationDate())
              or (( not posts[0].isPinned() ) and loop.index0 == 0)
              or (posts[0].isPinned() and posts[0].getPublicationDate() < posts[1].getPublicationDate() and loop.index0 == 1) %}
              is_lastness
              {% endif %}">

            <div
              class="message-header
              {% if (loop.length == 1)
              or (loop.length > 1 and post.isPinned() and posts[0].getPublicationDate() > posts[1].getPublicationDate())
              or (( not posts[0].isPinned() ) and loop.index0 == 0)
              or (posts[0].isPinned() and posts[0].getPublicationDate() < posts[1].getPublicationDate() and loop.index0 == 1) %}
              is_lastness
              {% endif %}">

              <p>{{ post.name }}</p>
              {% if app.user and app.user.username == blogname %}
              <p class="buttons">
                <a class="post-action" href="{{ path('post_pinned', {'id': post.id}) }}">
                    <span>
                        {% if post.isPinned() %}
                        <i class="fas fa-lock"></i>
                        {% else %}
                        <i class="fas fa-lock-open"></i>
                        {% endif %}
                    </span>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a class="post-action" href="{{ path('post_edit', {'id': post.id}) }}">
                    <span>
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
                &nbsp;&nbsp;
                <a class="post-action delete"
                    aria-label="delete"
                    href="{{ path('post_delete', {'id': post.id}) }}">
                </a>
            </p>
              {% endif %}
            </div>
            <div class="message-body">
                {% if post.image %}
                <figure class="image" style="margin-left: auto;margin-right: auto;">
                    <img src="{{ post.image }}"><br>
                </figure>
                {% endif %}
                <br>
                {{ post.content | raw }}
              <br><br>

              <div class="buttons is-right">
                  <a class="grey-hover button is-dark is-right
                    {% if (loop.length == 1)
                    or (loop.length > 1 and post.isPinned() and posts[0].getPublicationDate() > posts[1].getPublicationDate())
                    or (( not posts[0].isPinned() ) and loop.index0 == 0)
                    or (posts[0].isPinned() and posts[0].getPublicationDate() < posts[1].getPublicationDate() and loop.index0 == 1) %}
                    is_lastness
                    {% endif %}"
                    href="{{ path('post_show', {'slug': post.slug}) }}">
                    <span>View article</span>
                    <span class="icon has-text-success">
                        <i class="fas fa-angle-double-right"></i>
                    </span>
                  </a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
