{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
  <section class="section content">
    <div class="container">
        {% if app.user and app.user.username == blogname %}
            <h2 class="title">Welcome home {{ app.user.username }}</h1>
        {% else %}
            <h2 class="title">Welcome on {{ blogname }} blog !</h1>
        {% endif %}
    </div>
    <div class="columns is-mobile">
      <div class="column is-three-fifths is-offset-one-fifth">
        {% if app.user and app.user.username == blogname %}

        {% if posts is empty %}
            <h4 class="subtitle">
                You haven't any published post. Go ahead, write what's on your
                mind !
            </h4>
        {% endif %}
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-dark" href="{{ path('post_create') }}">
                Write a post >>
            </a>
          </p>
        </div>
        {% else %}
            {% if posts is empty %}
                <h4 class="subtitle">
                    {{ blogname }} hasn't published any post yet. Come back
                    later to check if there is something new.
                </h4>
            {% endif %}
        {% endif %}

        {% for post in posts %}
          <article
            class="message
              {% if (loop.length == 1)
              or (loop.length > 1 and post.isPinned() and posts[0].getPublicationDate() > posts[1].getPublicationDate())
              or (( not posts[0].isPinned() ) and loop.index0 == 0)
              or (posts[0].isPinned() and posts[0].getPublicationDate() < posts[1].getPublicationDate() and loop.index0 == 1) %}
              is_lastness
              {% endif %}">

            <div
              class="message-header
              {% if (loop.length == 1)
              or (loop.length > 1 and post.isPinned() and posts[0].getPublicationDate() > posts[1].getPublicationDate())
              or (( not posts[0].isPinned() ) and loop.index0 == 0)
              or (posts[0].isPinned() and posts[0].getPublicationDate() < posts[1].getPublicationDate() and loop.index0 == 1) %}
              is_lastness
              {% endif %}">

              <p>{{ post.name }}</p>
              {% if app.user and app.user.username == blogname %}
              <span>
                <a style="padding-right: 15px" href="{{ path('post_pinned', {'id': post.id}) }}">
                  {% if post.isPinned() %}
                    <i class="fas fa-lock"></i>
                  {% else %}
                    <i class="fas fa-lock-open"></i>
                  {% endif %}
                </a>
                <a style="padding-right: 15px" href="{{ path('post_edit', {'id': post.id}) }}">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="{{ path('post_delete', {'id': post.id}) }}">
                  <i class="far fa-times-circle"></i>
                </a>
              </span>
              {% endif %}
            </div>
            <div class="message-body">
                {% if post.image %}
                <figure class="image" style="margin-left: auto;margin-right: auto;">
                    <img src="{{ post.image }}"><br>
                </figure>
                {% endif %}
                <br>
                {{
                    post.content|raw|striptags|length > 100 ?
                    post.content|raw|striptags|slice(0, 100) ~ ' ...' :
                    post.content|raw
                }}
              <br><br>

              <div class="buttons is-right">
                  <a class="button is-dark is-right
                    {% if (loop.length == 1)
                    or (loop.length > 1 and post.isPinned() and posts[0].getPublicationDate() > posts[1].getPublicationDate())
                    or (( not posts[0].isPinned() ) and loop.index0 == 0)
                    or (posts[0].isPinned() and posts[0].getPublicationDate() < posts[1].getPublicationDate() and loop.index0 == 1) %}
                    is_lastness
                    {% endif %}"
                    href="{{ path('post_show', {'slug': post.slug}) }}">
                    View article >>
                  </a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
