{# templates/blog/postDetail.html.twig #}

{% extends 'base.html.twig' %}


{% block title %}Blog{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Post {{ id }}</h1>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">{{post_name}}</p>
            <ul>
                <li>Slug : {{post_slug}}</li>
                <li>Publication date : {{post_pub_date}} </li>
                <li>Content : {{post_content}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="field is-grouped">
        <p class="control">

          <a class="button is-dark " {%if id_previous != null %} href="{{ path('post_show', {'id': id_previous}) }}" {% else %} style="visibility: hidden;"{% endif %} >
            Previous
          </a>

          <a class="button is-dark" href="{{ path('index') }}">
            Back
          </a>

          <a class="button is-dark " {%if id_next != null %} href="{{ path('post_show', {'id': id_next}) }}"{% else %} style="visibility: hidden;"{% endif %} >
            Next
          </a>

        </p>
      </div>


    </div>
  </section>
{% endblock %}
