{# templates/blog/postDetail.html.twig #}

{% extends 'base.html.twig' %}


{% block title %}Blog{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Post {{ id }}</h1>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">{{post_name}}</p>
            <ul>
                <li>Slug : {{post_slug}}</li>
                <li>Publication date : {{post_pub_date}} </li>
                <li>Content : {{post_content}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
